@use 'base/variables' as v; 
@use 'base/mixins' as m; 

.repartidores {
    padding: 5rem 0;

    &__principal {
        @include m.tablet{
            @include m.grid(2, 5rem);
        }
    }

    &__titulo {
        text-align: center;
        color: v.$secundario;
    }

    &__texto {
        line-height: 1.5;
        color: v.$secundario;
    }

    &__comentario {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    &__boton {
        @include m.boton(v.$primario, v.$blanco);

        @include m.tablet{
            width: auto;
        }
    }
}